<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/station_css/owner_account_details.css">
    <title>STATION-OWNER</title>
</head>
<body>
    <div class="menu">
        <%- include("partials/Nav") %>

        <div class="box">
            <a class="headline">Account details</a>
            <hr>
            <div class="photo"> <img src="" alt="user-photo"> </div>
            <div class="personal-details">
                <a class="user-name">USER ID:123456796</a>
                <hr class="line">
                <a class="details">NAME:xxxxxxxxxx</a>
                <br>
                <hr class="line">
                <a class="details">MOBILE NUMBER:9829049172</a>
                <br>
                <hr class="line">
                <a class="details">ADDHARE NUMBER:XXXX XXXX XXXX 
                </a>
                <br>
                <hr class="line">
                <a class="details">Gmail:dahiihfiaegofabo@gmail.com</a>
                <br>
                <hr class="line">
                <a class="details">Address:xx-xx/201,xxxxxxxxx,xxxxxxx,xxxxxx,xxxx,530201
                </a>
                <br>
            </div>
           
            <div class="primary_info">
                <div class="avalible-charging-levels ">
                    <A class="headline">AVALIBLE CHARGING TYPES
                    </A>
                    <hr class="line">
                <a class="TYPE1">LEVEL-1: YES</a>
                <br>
                <hr class="line">
                <a class="TYPE2">LEVEL-2: NO</a>
                <br>
                <hr class="line">
                <a class="TYPE3">LEVEL-3: NO </a>
                <br>
                </div>
                <DIV class="slots">
                    <A class="headline">SLOTS
                    </A>
               
                <hr class="line">
                <a class="TYPE1-SLOTS">6
                </a>
                <br>
                <hr class="line">
                <a class="TYPE2-SLOTS">zero
                </a>
                <BR>
                <hr class="line">
                <a class="TYPE3-SLOTS">zero
                </a>
                <br>
                
                </DIV>
                

            </div>
            
            

        </div>

        
    </div>
   


</body>
</html>