<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/station_css/station_dashboard.css ">
</head>
<body>
    <div class="menu">

        <%- include("partials/Nav") %>

        <div class="name"> Welcome,Uday</div>

        <div class="charging-percentage">
            <a class="title1">Charging-Status</a>
            <img class="pi-chart" src="/images/DataGlossary_Icons_Pie Chart.jpg" alt="">
        </div>

        <div class="energy-used">
            <a class="title2">Energy supply
            </a>
            <a class="tag1">Week</a>
            <table class="enegry">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        ENERGY SUPPLIED
                    </th>
                </tr>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        150kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        250kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        340kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        150kw
                    </td>
                </tr> <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        250kw
                    </td>
                </tr>



            
            <a class="tag2">Month</a>

            <table class="enegry1">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        ENERGY SUPPLIED
                    </th>
                </tr>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        JAN
                    </td>
                    <td>
                        500kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        FEB
                    </td>
                    <td>
                        700kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        MAR
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        APL
                    </td>
                    <td>
                        50kw
                    </td>
                </tr> <tr>
                    <td>
                        1
                    </td>
                    <td>
                        MAY
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>

            </table>

            
            

        </div>

        <div class="schedule-date">
            <a class="tille3">Schedule date</a>
            <table class="table1">
                <tr>
                    <th>
                        DATE
                    </th>
                    <th>
                        VACANT SLOTS
                    </th>
                </tr>

                <tr>
                    <td>
                        03-04-2023

                    </td>
                    <td>
                        5
                    </td>
                </tr>
                <tr>
                    <th>
                        DATE
                    </th>
                    <th>
                        TIME SLOT
                    </th>
                </tr>

                <tr>
                    <td>
                        04-04-2023

                    </td>
                    <td>
                       3
                    </td>
                </tr>
                
            </table>

            <div class="payment-details">
                <a class="tille4">Enegry consumed data</a>
                <table class="table2">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                           price
                        </th>
                        <th>
                            charger-type
                        </th>
                        <th>
                            charged enegry(kw)
                        </th>
                        <th>
                            user_ID

                        </th>
                        <th>
                            paid
                        </th>
                        
                       
                        
                    </tr>

                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            abc
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            bca
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            cba
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            ddd
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>




                </table>


            </div>


        </div>

    </div>
</body>
</html