<div class="bottom1">
    <h3 class="end-logo">CHARGE HERE</h3>
    <p  class="end-tag">POWERING THE FUTURE:EV CHARGING STATIONS</p>
   

    <div class="Ev-drivers">
      <h3  class="gap1">Ev drivers</h3>
      <p class="gap"> <a href="/login"> login </a></p>
      <p class="gap"><a href="/signup">sign up </a></p>
      <p class="gap">24/7 support </p>
    </div>

    <div class="Station-Owner">
      <h3 class="gap1" >Station Owner</h3>
      <p class="gap"><a href="">login </a></p>
    </div>

    <div class="Products">
      <h3  class="gap1">Products</h3>
      <p class="gap"> <a href="/EV Charger"> Ev Chargers </a></p>
      <p class="gap"> <a href="/EV battery">Ev Batterys </a></p>
    </div>

    <div class="Use-cases">
      <h3  class="gap1">Use cases</h3>
      <p class="gap"><a href="/usecases">Public </a></p>
      <p class="gap"><a href="/usecases">Workplace</a></p>
      <p class="gap"><a href="/usecases">Multi-family</a></p>
      <p class="gap"><a href="/usecases">Single-family</a></p>
    </div>

    <div class="About-us">
      <h3  class="gap1">About us</h3>
      <p class="gap">Contact us</p>
      <p class="gap">privacy and terms</p>
    </div>
</div>   

</body>
</html>