<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV BATTERY</title>
    <link rel="stylesheet" href="Maincss/EVbatterystyle.css">
    
</head>
<body>
    <div class="top">
        <img class="title-image" src="Maincss/images/battery circut.jpg" alt="image">
        <h1 class="title1">EV BATTERYS</h1>
        <p class="tag">------Li-ion battery------</p>
    </div>
    <div class="body1">
        <h2 class="headline1">INNOVATIVE LITHIUM BATTERY </h2>
        <p class="line1">Lithium-ion (Li-ion) batteries are currently the most commonly used and the most advanced battery technology for electric vehicles (EVs). They offer high energy density, high efficiency, and long life. Additionally, Li-ion batteries have been extensively tested and proven to be safe and reliable for use in EVs.

            Within the Li-ion battery category, there are several different chemistries, including:</p>
            
        <p class="line2">1.NCM (Nickel Cobalt Manganese) batteries: These batteries offer high energy density and power density, making them suitable for long-range EVs.</p>
            
        <p class="line2"> 2.NCA (Nickel Cobalt Aluminum) batteries: NCA batteries offer high energy density and long cycle life, making them a good choice for high-performance EVs.</p>
            
        <p class="line2"> 3.LFP (Lithium Iron Phosphate) batteries: LFP batteries are known for their safety, long cycle life, and high power output, but they have lower energy density than other Li-ion batteries.</p>
            
        <p class="line1"> Overall, the best EV battery type will depend on the specific application and performance requirements of the vehicle.</p>
         
        <h3 class="headline2">ADVANTAGES</h3>
        <p class="sub-headline1">Comprehensive Safety</p>
        <p class="line3">Starting from Industry leading LFP battery cells, Safety cell materials, top level manufacturing technique, Muti-angle of BMS protection, battery management system module extra insulation
            and thermal design. We pursues every possibility to improve battery management system lithium ion product safety.</p>   
        <p class="sub-headline1">Whole life time cost performance</p>
        <p class="line3"> Benefits from bms lithium battery cell high reliability and life cycle.
            Sicon advanced Active Equalization BMS further ensured bms lithium ion battery cells consistency and long service life. With high energy efficiency UPS and ESS projects will have more advantages in cost per kWh in the whole life cycle.</p>
        <p class="sub-headline1">Smart Battery Management System</p>
        <p class="line3">Sicon creative technology – Bi-Directional Active Equalization BMS Fulfilled with 3 levels architecture ,providing accurate and efficient management.Maximize the whole battery system efficiency and life cycle. Meanwhile the upper level of BMS can communicate with UPS/PCS via CAN/ RS485 protocols to accomplish many smart strategy and operation mode Accomplish maintenance free for customer as far as possible</p>
        <div class="box">
            <p class="line4">"Lithium-ion battery system is designed for UPS AND ESS - Enhanced Safety and Lifecycle"</p>
        </div>
        <h3 class="headline3">TYPES</h3>
        <ul >
            <LI class="types">Rack-mount Lithium Batteries</LI>
            <LI class="types">High power lithium-ion battery</LI>
            <LI class="types">High energy density lithium batteries</LI>
        </ul>

        <h3 class="type-1">Rack-mount Lithium Batteries</h3>
        <img class="battery1" src="Maincss/images/battery (8).jpg" alt="iamge">
        <p class="line5">More secure and cost-effective power source!</p>
        <p class="line5">Many comapnies continues to pursue breakthroughs in battery performance, to put lithium batteries with larger capacity, higher security, smaller volume and longer service life into 19 inch lithium battery rack, fully integrating excellent performance with small and flexible features, and having absolute advantages in size, layout, operation and maintenance, and cost, so as to make the application of lithium battery more extensive and provide more choices, such as battery management system lifepO4 battery rack for different needs of customers to choose.</p>
        
        <h3 class="sub-headline2">ADVANTAGES</h3>

        <p class="sub-headline2-1">High Safety</p>
        <p class="line6">Low-thermal-runaway-rate LFP battery;</p>
        <p class="line6">Bidirectional active equalization and triple-layered safety protection in BMS design;</p>
        <p class="line6">7mm insulation distance for safety and reliability;</p>
        <p class="line6">optimized solution in anti-thermal runaway and anti-leakage design.</p>
        <p class="sub-headline2-1">Easy O&M</p>
        <p class="line6">Convenient operation and maintenance;</p>
        <p class="line6">Modular design, easy for installation and capacity expansion;</p>
        <p class="line6">19 inch standard cabinet, small in size, light in weight and low in O&M operation.</p>
        <p class="sub-headline2-1">Smart management</p>
        <p class="line6"> Real-time monitoring. The accuracy of SOC is better than 3% for the whole system;</p>
        <p class="line6">Intelligent air cooling design for stable operation;</p>
        <p class="line6"> Equipped with interactive display, CAN and RS485 communication;</p> 


        <h3 class="type-2">High power lithium-ion battery</h3>
        <img class="battery2"src="Maincss/images/battery.jpg" alt="image">
        <p class="line7">Provide battery solution with high competitiveness!</p>
        <p class="line7">The lithium-ion battery with low internal resistance and low temperature rise is selected as the C-rate lithium battery, to provide short-term but high-power supply for li-ion UPS, EPS, PCS or other loads. With proven BMS triple level protection, it can provide explosive power and ensure longer cycle life and reliability as well. C-rating of lithium-ion battery has become the “sprint champion” in energy storage products.</p>

        <h3 class="sub-headline3">ADVANTAGES</h3>

        <p class="sub-headline2-2">High power</p>
        <p class="line8">Excellent high current discharge performance</p>
        <p class="line8">High power density, high rate charging and discharging;</p>
        <p class="line8"> Ultra wide voltage range and stable output voltage;</p>
        <p class="sub-headline2-2">High Safety</p>
        <p class="line8">Low-thermal-runaway-rate lithium-ion phosphate;</p>
        <p class="line8">Triple-layered protection, more than 200 security designs</p>
        <p class="line8">Multiple safety tests to deal with violent collision;</p>
        <p class="line8">Multi-state monitoring and hierarchical actions to ensure battery system safety;</p>
        <p class="line8">Active equalization to maximize system capacity;</p>
        <p class="sub-headline2-2">Low Cost</p>
        <p class="line8">Small in size, light in weight, and low in space and installation cost;</p>
        <p class="line8">Low in operation and maintenance cost;</p>
        <p class="line8"> 4000 cycles life, low cost per kilowatt hour;</p>
        <p class="line8">Seamless switching to avoid economic loss caused by power interruption;</p>

        <h3 class="type-3">High energy density lithium batteries</h3>
        <img class="battery3" src="Maincss/images/battery(10).jpg" alt="image">
        <p class="line9">High power lithium ion battery provides long-lasting, efficient and controllable high-quality power!</p>
        <p class="line9">The high power lithium battery with long cycle life and high energy density is selected as the High Energy
            Density Lithium Ion Batteries, to provide stable, long-lasting power supply for UPS,EPS,PCS or other loads. With proven BMS triple level protection to ensure longer cycle life and reliability,high energy density lithium batteries can provide power for a longer period but with a low cost per kWh. High power li ion battery is really a good “marathon runner” in energy storage products.</p>

        <h3 class="sub-headline4">ADVANTAGES</h3>

        <p class="sub-headline2-3">Endurance</p>
        <p class="line10">The high power lithium battery has high energy density and can supply power continuously and stably for a long time;</p>
        <p class="line10">Comprehensive intelligent temperature control improves system efficiency and stability and battery cycle life;</p>
        <p class="sub-headline2-3">High Safety</p>
        <p class="line10">Low-thermal-runaway-rate LFP battery;</p>
        <p class="line10">-layered protection, more than 200 security designs</p>
        <p class="line10">Multiple safety tests to deal with violent collision;</p>
        <p class="line10">Multi-state monitoring and hierarchical actions to ensure solar battery energy storage system safety;</p>
        <p class="line10">Active equalization to maximize system capacity;</p>
        <p class="sub-headline2-3">Intelligence</p>
        <p class="line10">Visual human-computer interaction interface;</p>
        <p class="line10">CAN and RS485 communication;</p>
        <p class="line10">Remote monitoring, equipment management, troubleshooting and data analysis;</p>
        <img class="battery4" src="Maincss/images/battery (7).jpg" alt="image">
    </div>
    <hr>
    <%- include("partials/footer") %>