<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV Charger</title>
    <link rel="stylesheet" href="Maincss/EVchargerstyle.css">
</head>
<body>
    <div class="top">
    <img class="charging-car-image"   src="Maincss/images/ev charg.jpg" alt="charging car">
    <h1 class="title1">EV CHARGER</h1>
    </div>
    <div class="body1">
        <h3 class="headline">EV CHARGER</h3>
        <p class="para1"> An electric vehicle (EV) charging station, also known as an EV charger or electric vehicle supply equipment (EVSE), is a
          device that provides electric power to recharge the battery of an electric car or other plug-in electric vehicles. EV
          charging stations are becoming increasingly common as more people adopt electric vehicles.
          There are several types of EV charging stations, ranging from simple household outlets to high-powered commercial
          charging stations that can fully charge an electric vehicle in just a few hours. The most common types of EV charging
          stations include:</p>
      <p class="para2">    1.Level 1 Charging Station: 
                    This is the slowest type of charging station, providing 120 volts of alternating current (AC)power. 
                    It typically takes around 8-12 hours to fully charge an electric vehicle with a Level 1 charging station.</p>
      <p class="para2">    2.Level 2 Charging Station: 
                    This type of charging station provides 240 volts of AC power and is much faster than a Level1 station. 
                    A Level 2 charging station can fully charge an electric vehicle in 4-8 hours, depending on the size of the
                    battery.</p>   
      <p class="para2">    3.DC Fast Charging Station: 
                    This is the fastest type of EV charging station, providing direct current (DC) power to the vehicle's battery.
                    DC fast charging stations can fully charge an electric vehicle in just 30 minutes to an hour.</p>    
          
      <p class="para1"> EV charging stations can be found in many locations, including homes, workplaces, shopping centers, and along
          highways. Some charging stations are free, while others require payment, either through a subscription service or a pay-per-use system.
          As more electric vehicles hit the road, the demand for EV charging stations is expected to continue to grow, making EV
          charging station installation a promising business opportunity.</p>
       
        <h3 class="headline1">TYPE OF EV CHARGER: </h3>
        <img class="charger"  src="Maincss/images/ev charging (6).jpg" alt="charger">
        
        <ul >
            <LI class="types">RENEWABLE CHARGING STATION</LI>
            <LI class="types">EV CHARGER MODULE</LI>
            <LI class="types">CCS CHAdeMO EV CHARGER</LI>
            <LI class="types">HPC HIGH POWER CHARGER </LI> 
            <LI class="types">EV CHARGING STACK</LI>
            <LI class="types">POWER LINE COMMUNICATION MODEM (PLC)</LI>
        </ul>
        
        
        <h3 class="headline2">RENEWABLE CHARGING STATION </h3>
        <p class="info1">According to the rapid increase of EV demand and EV charging, reducing the pressure on local electricity networks is an urgent topic. 
            Renewable energy sources such as WIND and SOLAR are some of the most effective solutions, to support the EV charging infrastructure.
             Meanwile in terms of achieving carbon neutrality, it has broad application prospects in the market.</p>
        <h3 class="sub-headline">SOLAR-POWERED DC-DC EV CHARGER</h3>


        <img class="SOLAR-EV-CHARGING" src="Maincss/images/SOLAR EV CHARGING.jpg" alt="image">
        <img class="SOLAR-EV-CHARGING1" src="Maincss/images/solar ev charger (1).jpg" alt="image">
        <img class="SOLAR-EV-CHARGING5" src="Maincss/images/solar ev charger (5).jpg" alt="image">
        <img class="SOLAR-EV-CHARGING4" src="Maincss/images/solar ev charger (4).jpg" alt="image">
        <img class="SOLAR-EV-CHARGING6" src="Maincss/images/solar ev charger(6).jpg" alt="image">
        <img class="SOLAR-EV-CHARGING2" src="Maincss/images/solar ev charger (2).jpg" alt="image">
        <img class="SOLAR-EV-CHARGING3" src="Maincss/images/solar ev charger (3).jpg" alt="image">
        <p class="info2" >Solar-powered DC-DC EV charger is an intelligent, modular and integrated on-grid, micro-grid energy storage and EV fast charger equipped with multi-functional bidirectional AC converter, MPPT module and DC charging matrix control. The system is reasonably designed to provide users an integrated equipment that is efficient, environment friendly, completely quiet, and low energy consumption. The integrated and standardized product solution makes the equipment extremely convenient in layout, installation and operation.</p>
        <h3 class="sub-headline1">Advantages</h3>
        <h3 class="sub-points">Multi-functional System</h3>
        <p class="info2">Lithium battery system capable to output same as grid power IElectric vehicle fast charger with high power capacity. Real time system power balancing capability.</p>
        <h3 class="sub-points">Cost Optimization</h3>
        <p class="info2">Smaller size, light weight, modular structure design, saving floor space and installation costs, low operation and maintenance costs.</p>

        <h3 class="sub-points">High Compatibility</h3>
        <p class="info2">PCS G99 certified EN50549 standard complied ESS system. CE & EU standard (EN IEC61851) complied DC fast charging system CCS, CHAdeMO, GB/T charging standard.</p>

        <h3 class="sub-headline1">RENEWABLE CHARGING STATION TYPE</h3>
        <h3 class="sub-point1">EVSS-240 / 480 </h3>
        <p class="info3" >Configurations: AC/DC module, DC/DC PV Management Module, DC/DC Charging Power Module, EV Fast Charger</p>

        <p class="info4" >Work mode: Grid power usage strategy, Battery control strategy, Grid power supply + battery hybrid power supply mode, solar PV control strategy, Grid response mode.</p>

        

        <h3 class="headline3">EV CHARGER MODULE</h3>
        <img class="ev-charging2" src="Maincss/images/ev charging (2).jpg" alt="image">
        <p class="info5" > Flexible, reliable, low-cost EV power module for EV charging station. DPM series AC/DC EV charger power module is key power part of DC EV Charger, which converts AC to DC and then charge electric vehicles, providing reliable DC supply for equipment requires DC power.</p>
        <p class="info5" > New energy electric vehicles have an urgent demand for high-power and fast charging. As the core component of the DC charging pile, DC electric vehicle charger module is the key to the stability and reliability of the EV charger post. The  DC fast EV module has high reliability, high availability and high maintainability, which can meet the voltage requirements of different battery packs, reduce the potential safety hazard and greatly save the operation and maintenance cost of life cycle.</p>

        <h3 class="sub-headline1-1">Advantages</h3>
        <h3 class="sub-points1-1">Unique Design</h3>
        <p class="info2-1">The system adopts full digital DSP control technology, achieves pure digital control from input to output; adopts interlaced series resonance soft switch technology to reduce the tolerance of power devices. This kind of EV charging unit has a wide range of input voltage, 260V~530V, input surge protection design. The monitor is equipped with the standard CAN/RS485 communication interface, can easily exchange data with external devices.</p>
        <h3 class="sub-points1-1">Good Performance</h3>
        <p class="info2-1">nput THDI less than 3%, input power factor can reach 0.99, the efficiency can reach 95% and above. Ultra-wide range of output voltage, 150-1000Vdc / 200VDC-500Vdc /200VDC-750Vdc (adjustable), to meet various voltage demands of different battery packs. Compatible with GB/T, CCS 1, CCS 2, CHAdeMO and hybrid energy storage system.</p>

        <h3 class="sub-points1-1">Safe and Reliable</h3>
        <p class="info2-1">Input over voltage protection, under voltage alarming, output over current and short circuit protection functions. Low output DC ripple wave, has no influence on battery’s working lives. Can constitute parallel redundancy systems and has hot-swapped function, which improves the availability, reliability and maintainability of the system.</p>
      
        <h3 class="sub-headline1-2-1">EV CHARGER MODULE TYPE</h3>

        <h3 class="sub-point1-2">DPM-1000/30</h3>
        <p class="info3-1" >Capacity: 30kW</p>
        <p class="info3-1" >Output voltage range: 50-1000VDC</p>
        <p class="info3-1" >Constant power range: 300-500VDC&600-1000VDC</p>
        <p class="info3-1" > Size: 88*445*300(W*D*H)mm</p>
            
        <h3 class="sub-point1-2">DPM-1000/16</h3>
        <p class="info3-1" > Capacity: 15kW </p>
        <p class="info3-1" >Output voltage range: 150-1000VDC</p>
        <p class="info3-1" >Type: Constant Current</p>
        <p class="info3-1" >Size: 220*500*88(W*D*H)mm</p>
       
        <h3 class="sub-point1-2">DPM-135/150</h3>
        <p class="info3-1" >Capacity: 20kW</p>
        <p class="info3-1" >Output voltage range: 40-135VDC</p>
        <p class="info3-1" >Constant power range: 100-135VDC</p>
        <p class="info3-1" >Size: 222*470*132(W*D*H)mm</p>

        <h3 class="headline4">CCS CHAdeMO EV CHARGER</h3>
        <img class ="charging1" src="Maincss/images/ev charging (13).jpg " alt="iamge">
        <p class="info5-1" >Fast EV Charging station to charge all current and next generation vehicles with ccs fast charger, CHAdeMO and AC Type 2.</p>
        <p class="info5-1" >The EVMS-60 is a CCS EV charging station able to charge all current and next generation vehicles with 50/60kW CCS, CHAdeMO and AC Type 2.
            EVMS-150, a CCS rapid charger for E-Bus and Luxury EVs. CCS 150 kw EV charger is a DC rapid charger to charge any CCS Compatible Bus or Vehicles with 150kW.</p>
        <p class="info5-1" >Application: highway rest stops, petrol stations, EV dealers, busy urban areas, etc.
            Compatible car brands: BMW, Volkswagen, GM, Porsche, Audi, Nissan, Mitsubishi, Peugeot, Citroen, Kia, Renault, Daimler, Tesla, Smart, Mercedes</p>

        <h3 class="sub-headline1-2">Advantages</h3>
        <h3 class="sub-points1-2">High efficiency and energy saving</h3>
        <p class="info2-2">Modular structure, with higher reliability and flexibility; Efficiency ≥ 95%, low energy consumption; Noise is low and has little impact on the surrounding environment;</p>
        <h3 class="sub-points1-2">Flexible configuration</h3>
        <p class="info2-2">Flexible multi-protocol design of ev charging pile: CCS 2, CHAdeMO GB/T and AC TYPY 2;Support two gun charge at the same time or in turn; Support customization to meet the diverse needs of different customers;</p>
        <h3 class="sub-points1-2">Intelligent interaction</h3>
        <p class="info2-2">CCS ev charger supports multi language operation;Daylight readable touch screen display;Support OCPP1.6J</p>

        <h3 class="sub-headline1-3-1">CCS CHAdeMO EV CHARGER TYPES</h3>

        <h3 class="sub-point1-3">EVMS-60</h3>
        <p class="info3-2" >Configuration: two DC guns charge at the same time or in turn</p>
        <p class="info3-2" >Capacity: 60KW</p>
        <p class="info3-2" >Constant power range: 400-1000VDC</p>
        <p class="info3-2" > Max. charge current: 150A</p>
        <p class="info3-2" >Size: 900*525*2000(W*D*H)mm (two guns) / 1000*525*2000(W*D*H)mm (three guns)</p>
        
    
        <h3 class="sub-point1-3">EVMS-60</h3>
        <p class="info3-2" >Configuration: two DC guns charge at the same time or in turn</p>
        <p class="info3-2" >Capacity: 150KW</p>
        <p class="info3-2" > Constant power range: 400-1000VDC</p>
        <p class="info3-2" >  Max. charge current: 375A</p>
        <p class="info3-2" >Size: 900*525*2000(W*D*H)mm (two guns) / 1000*525*2000(W*D*H)mm (three guns)</p>

        <h3 class="sub-point1-3">EVMS-60</h3>
        <p class="info3-2" >Configuration: CCS </p>
        <p class="info3-2" > Capacity: 30KW</p>
        <p class="info3-2" >  Installation: Wall-mounted</p>
        <p class="info3-2" >  Constant power range: 300-500VDC&600-1000VDC</p>
        <p class="info3-2" >  Max. charge current: 100A</p>


        <h3 class="headline5">HPC HIGH POWER CHARGER </h3>
        <img class="ev1" src="Maincss/images/ev charging (12).jpg" alt="image">
        <img class="ev2" src="Maincss/images/ev charging (7).jpg" alt="image">

        <p class="info5-3" >HPC charger（high power charging station）is a new and innovative solution to the growing demand for fast high current charging of next-generation electric vehicles(E-Bus and Luxury EVs).</p>
        <p class="info5-3" >EVHS-350, High Power EV Charging Station is a new and innovative solution to the growing demand for fast high current charging of next-generation electric vehicles(E-Bus and Luxury EVs). EVHS-350 system adopts modular structure design and the most advanced ultra-fast high power charging technology. This kind of high power EV charger consists of one power unit and 2 charge posts.  It’s a high power charger that can charge any CCS Compatible eBus or eVehicles with 350kw, 500A max.</p>

        
        <h3 class="sub-headline1-3">Advantages</h3>
        <h3 class="sub-points1-3">Compatible car brands</h3>
        <p class="info2-3">BMW, Volkswagen, GM, Porsche, Audi, Peugeot, Citroen, Kia, Renault, Daimler, Mercedes, Jaguar</p>
        <h3 class="sub-points1-3">High Power Charging Station Features</h3>
        <p class="info2-3">HPC charger supports CCS connector up to 500A liquid-cooled cables. It is a reliable, robust modular hardware. This fast charging EV station is simple, quick and easy to install. Daylight readable touch screen display RFID authorization.</p>
        <h3 class="sub-points1-3">Compatible car brands</h3>
        <p class="info2-3">Public operations such as highway rest stops, petrol stations, airport etc. Private operations such as EV dealers, EV fleets etc.</p>

        <h3 class="sub-headline1-4-1">HPC HIGH POWER CHARGER TYPES</h3>

        <h3 class="sub-point1-4">HPC Power Unit</h3>
        <p class="info3-3" >Configuration: one power unit + 2 charge post</p>
        <p class="info3-3" >Display: 10 TFT Color screen</p>
        <p class="info3-3" > Communication Protocols: OCPP 1.6J</p>

        <h3 class="sub-point1-4">HPC Dispenser 500A/outlet</h3>

        

        <h3 class="headline6">EV CHARGING STACK</h3>
        <img class="ev3" src="Maincss/images/ev charging (10).jpg" alt="iameg">
        <p class="info5-4" >EVMS EV Charging Stack (EV Power Unit + EV Charger Posts)</p>
        <p class="info5-4" >EVMS EV charger post or EV charging stack is a split-type charging system meeting multiple standards CCS, CHAdeMO, GB/T. Adopting modular design concept and forefront power electronic technology, consists of power stack, control units and charge posts. As a professional EV charging stations company in China, we provide both indoor and outdoor types of EV charging stations.</p>
       
        <h3 class="sub-headline1-4">Advantages</h3>
        <h3 class="sub-points1-4">Flexible design</h3>
        <p class="info2-4"> Flexible multi-protocol designed: CCS, CHAdeMO, GB/T. 240KW outdoor type EV charge posts: 2, 4, 8 outlets, each output 0 ~ 60KW or 0 ~ 120KW; 360KW indoor type stack: 2 ~ 12 outlets, 30 ~ 180KW flexible output.</p>
        <h3 class="sub-points1-4">Humanization design</h3>
        <p class="info2-4">12.1 inch LCD/LED screen to display information in real time, easy operation and humanized user interface; As an experienced ev charger wholesale supplier, we offer reasonable electric car charging unit cost and various online payment methods;</p>
        <h3 class="sub-points1-4">Perfect function</h3>
        <p class="info2-4"> High adaptability of temperature range, isolated heat dissipation air ducts; High efficiency, high reliability, ultra low radiation, fast maintenance, flexible capacity expansion, energy efficiency and environmental protection.</p>
        
        
        <h3 class="sub-headline1-5-1">EV CHARGING STACK TYPES</h3>
        <h3 class="sub-point1-5">EVMS-240 (power unit)</h3>

        <p class="info3-4" >Use environment: outdoor</p>
        <p class="info3-4" >  System capacity: 240KW</p>
        <p class="info3-4" >Maximum outlets: 8</p>

        <h3 class="sub-point1-5">EVMS-240 (EV charge posts)</h3>
        <p class="info3-4" > Protection degree: IP55</p>
        <p class="info3-4" >Dimension: 320*280*1740</p>
        <p class="info3-4" > Output capacity: 15~60KW or 0~120kw</p>

        <h3 class="headline7">POWER LINE COMMUNICATION MODEM (PLC)</h3>
        <img class="ev4" src="Maincss/images/ev charging (1).jpg" alt="imAGE">
        <p class="info5-5" >It is a PLC(Power Line Communication) based modem for communication bwtween EV and EVSE.</p>
        <p class="info5-5" >Power line communication modem is suitable for DC charge, and supports conversion of CAN, RS232/485 communication protocol to ISO/IEC 15118 and DIN 70121 standards. It can be installed inside CCS 2 DC chargers or new energy electric vehicles to realize intelligent interconnection between EV and EVSE.</p>


        <h3 class="sub-headline1-5">Advantages</h3>
        <h3 class="sub-points1-5">Parameter</h3>
    
        <p class="info2-5"> Processor: TI AM3352</p>
        <p class="info2-5"> Operating system: Linux 4.1.16</p>
        <p class="info2-5">SECC interface: CAN, RS 232/485</p>
        <p class="info2-5">PLC interface: HomePlugGreenPHY</p>
        <p class="info2-5">  Debug interface: Ethernet port</p>
        <p class="info2-5"> Chip: QCA7000</p>
        <p class="info2-5">  Operating voltage: 7VDC-30VDC</p>
        <p class="info2-5">Power consumption: maximum 4W, idle mode 2W</p>

        <h3 class="sub-points1-5">Feature</h3>
        <p class="info2-5">PLC modem is exquisite in appearance and easy to be embedded inside EVSE and EV;</p>
        <p class="info2-5">  ISO/IEC 15118, DIN 70121 compliant communication;</p>
        <p class="info2-5"> RS232, RS485, CAN and Ethernet interface to power electronics;</p>
        <p class="info2-5">Timely handling of abnormal charging process;</p>
        <p class="info2-5"> TUV SUD certified.</p>
        <h3 class="sub-points1-5">Application</h3>
        <p class="info2-5">Charge controller in electric vehicle supply equipment (EVSE)</p>
        <p class="info2-5">Charge controller in plug-in electric vehicles (PEV)</p>
        <p class="info2-5">Simulators for tests of PEV or EVSE</p>
        <p class="info2-5">Compatible with the hybrid energy storage solutions</p>
        
        <h3 class="sub-headline1-6">POWER LINE COMMUNICATION MODEM (PLC) TYPE</h3>
        <h3 class="sub-point1-6">EVPLC-01</h3>
        <p class="info3-5">Description: Power Line Communication PLC Modem (EVSE Side)</p>
        <p class="info3-5" > Standards: DIN 70122,ISO 15118</p>
        <p class="info3-5" > Test Lab: TUV SUD (Verisco)</p>     
    </div>
    <hr>
    
    <%- include("partials/footer") %>