<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div class="menu">
        <div class="nav">
            <div class="icon1">
                <a href=""><img class=image1 src="images/house-blank.png" alt=""></a>

            </div>
            <br>
            <div class="icon2">
                <a href="dashboard.html"><img class=image2 src="images/dashboard.png" alt=""></a>


            </div>
            <br>
            <div class="icon3">
                <a href="searchstation.html"><img class=image3 src="images/search.png" alt=""></a>

            </div>
            <div class="icon4">
                <a href="paymentdetails.html"><img class=image4 src="images/money-check-edit.png" alt=""></a>

            </div>
            <div class="icon7">
                <a href="schedule.html"><img class=image7 src="images/calendar.png" alt=""></a>

            </div>
            
            <div class="icon5">
                <a href="useraccount.html"><img class=image5 src="images/user.png" alt=""></a>

            </div>
            <br>
            <div class="icon6">
                <a href="help.html"><img class=image6 src="images/interrogation (1).png"></a>

            </div>
        </div>

        <div class="name"> Welcome,Uday</div>

        <div class="charging-percentage">
            <a class="title1">Charging-Status</a>
            <img class="pi-chart" src="images/DataGlossary_Icons_Pie Chart.jpg" alt="">
        </div>

        <div class="energy-used">
            <a class="title2">Energy used</a>
            <a class="tag1">Week</a>
            <table class="enegry">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        ENERGY USED
                    </th>
                </tr>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr> <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>



            
            <a class="tag2">Month</a>
            <table class="enegry1">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        ENERGY USED
                    </th>
                </tr>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr> <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>

            </table>

            
            

        </div>

        <div class="schedule-date">
            <a class="tille3">Schedule date</a>
            <table class="table1">
                <tr>
                    <th>
                        DATE
                    </th>
                    <th>
                        TIME SLOT
                    </th>
                </tr>

                <tr>
                    <td>
                        03-04-2023

                    </td>
                    <td>
                        9:00-12:00
                    </td>
                </tr>
                <tr>
                    <th>
                        DATE
                    </th>
                    <th>
                        TIME SLOT
                    </th>
                </tr>

                <tr>
                    <td>
                        03-04-2023

                    </td>
                    <td>
                        9:00-12:00
                    </td>
                </tr>
                
            </table>

            <div class="payment-details">
                <a class="tille4">Payment report</a>
                <table class="table2">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                           price
                        </th>
                        <th>
                            charger-type
                        </th>
                        <th>
                            charge enegry(kw)
                        </th>
                        <th>
                            Debit to(Charging station owner)
                        </th>
                        <th>
                            paid
                        </th>
                        
                       
                        
                    </tr>

                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            stationA- sss ev station
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            stationA- sss ev station
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            stationA- sss ev station
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03-03-2023
                        </td>
                        <td>
                            35/- per kw
                        </td>

                        <td>
                            level-2
                        </td>
                        <td>
                             20kw
                        </td>
                        <td>
                            stationA- sss ev station
                        </td>

                        <td>
                            700 per 20kw 
                        </td>
                    </tr>




                </table>


            </div>


        </div>

    </div>
</body>
</html