<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>

        <div class="name"> Welcome, <%= Name %></div>

        <div class="charging-percentage">
            <a class="title1">Charging-Status</a>
            <img class="pi-chart" src="/images/DataGlossary_Icons_Pie Chart.jpg" alt="">
        </div>

        <div class="energy-used">
            <a class="title2">Energy used</a>
            <a class="tag1">Week</a>
            <table class="enegry">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        ENERGY USED
                    </th>
                </tr>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr> <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>



            
            <a class="tag2">Month</a>
            <table class="enegry1">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        ENERGY USED
                    </th>
                </tr>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr> <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01-03-2023
                    </td>
                    <td>
                        50kw
                    </td>
                </tr>

            </table>

            
            

        </div>
        <div class="payment-details">
            <a class="tille4">Payment report</a>
            <table class="table2">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                       price
                    </th>
                    <th>
                        charger-type
                    </th>
                    <th>
                        charge enegry(kw)
                    </th>
                    <th>
                        Debit to(Charging station owner)
                    </th>
                    <th>
                        paid
                    </th>
                    
                   
                    
                </tr>

                <tr>
                    <td>
                        03-03-2023
                    </td>
                    <td>
                        35/- per kw
                    </td>

                    <td>
                        level-2
                    </td>
                    <td>
                         20kw
                    </td>
                    <td>
                        stationA- sss ev station
                    </td>

                    <td>
                        700 per 20kw 
                    </td>
                </tr>
                <tr>
                    <td>
                        03-03-2023
                    </td>
                    <td>
                        35/- per kw
                    </td>

                    <td>
                        level-2
                    </td>
                    <td>
                         20kw
                    </td>
                    <td>
                        stationA- sss ev station
                    </td>

                    <td>
                        700 per 20kw 
                    </td>
                </tr>
                <tr>
                    <td>
                        03-03-2023
                    </td>
                    <td>
                        35/- per kw
                    </td>

                    <td>
                        level-2
                    </td>
                    <td>
                         20kw
                    </td>
                    <td>
                        stationA- sss ev station
                    </td>

                    <td>
                        700 per 20kw 
                    </td>
                </tr>
                <tr>
                    <td>
                        03-03-2023
                    </td>
                    <td>
                        35/- per kw
                    </td>

                    <td>
                        level-2
                    </td>
                    <td>
                         20kw
                    </td>
                    <td>
                        stationA- sss ev station
                    </td>

                    <td>
                        700 per 20kw 
                    </td>
                </tr>




            </table>


        </div>

        <div class="schedule-date">
            <a class="tille3">Schedule date</a>
            <table class="table1">
                <% bookings.forEach(function(details){ %>
                    <tr>
                        <th>
                            DATE
                        </th>
                        <th>
                            TIME SLOT
                        </th>
                    </tr>
    
                    <tr>
                        <td>
                            <%= details.Date %>
    
                        </td>
                        <td>
                            <%= details.time %>
                        </td>
                    </tr>
                    <% }); %>


                
            </table>

            


        </div>

    </div>
</body>
</html