<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>
        <div class="booking-status">
            <a class="status-name">BOOKING STATUS</a>
            <hr>
            <table class="table2">
               <tr>
                   <th>
                       Date
                   </th>
                   <th>charging station</th>
                   <th>
                     slot
                   </th>
                   <th>
                       time
                   </th>
                   <th>
                       price per kW
                   </th>
                   <th>
                      book slot
                   </th>
               </tr>

               <tr>
                   <td>
                       03-03-2023
                   </td>
                   <td>station-1</td>
                   <td>
                       3
                   </td>

                   <td>
                    8:00-16:00
                   </td>
                   <td>
                     20$
                   </td>
                   <td>
                      <a >booked</a>
                   </td>
               </tr>
               <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >cancelled</a>
                </td>
            </tr>
            <tr>
                <td>
                    03-03-2023
                </td>
                <td>station-1</td>
                <td>
                    3
                </td>

                <td>
                 8:00-16:00
                </td>
                <td>
                  20$
                </td>
                <td>
                   <a >booked</a>
                </td>
            </tr>
           
       </div>
    </div>
    
</body>
</html>