<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STATION-DETAILS</title>
    <link rel="stylesheet" href="/charging-station/css/stationdetails.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>
    </div>

    <div class="station-details">
        <a class="station-name">STATION-1</a>
        <hr>
        <a class="address">xxxxxxx-near bustand ,opposite to xxxx ,tadepalligudem</a>
    </div>

    <div class="book-station">
        <a class="booking-line">BOOK YOUR SlOT</a>
        <hr>
        <div class="calendar-wrapper">
            <h3 class="month">MARCH 2023</h3>
            <ol class="calendar">
              
              <li class="day-name"><a class="day">Sun</a></li>
              <li class="day-name"><a class="day">Mon</a></li>
              <li class="day-name"><a class="day">Tue</a></li>
              <li class="day-name"><a class="day">Wed</a></li>
              <li class="day-name"><a class="day">Thu</a></li>
              <li class="day-name"><a class="day">Fri</a></li>
              <li class="day-name"><a class="day">Sat</a></li>
              
              <li class="first-day">1</li>
    
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            
            </ol>
        </div>
        <div class="slot-details">
            <a class="slot-details1"> SLOTS AVALIABLE</a>
            

        </div>

        <div class="booking-status">
             <a class="status-name">BOOKING STATUS</a>
             <hr>
             <table class="table2">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                      slot
                    </th>
                    <th>
                        time
                    </th>
                    <th>
                        price per kW
                    </th>
                    <th>
                       book slot
                    </th>
                </tr>

                <tr>
                    <td>
                        03-03-2023
                    </td>
                    <td>
                        3
                    </td>

                    <td>
                     8:00-16:00
                    </td>
                    <td>
                      20$
                    </td>
                    <td>
                       <a href="dashboard.html">book</a>
                    </td>
                </tr>
            
        </div>
        <div class="map">
            <a class="location-name">LOCATION</a>
            <hr>
        </div>
    </div>




















































  

    
</body>
</html>