

        <div class="nav">
            <div class="icon1">
                <a href=""><img class=image1 src="/images/house-blank.png" alt=""></a>

            </div>
            <br>
            <div class="icon2">
                <a href="/user/dashboard"><img class=image2 src="/images/dashboard.png" alt=""></a>


            </div>
            <br>
            <div class="icon3">
                <a href="/user/search"><img class=image3 src="/images/search.png" alt=""></a>

            </div>
            <div class="icon4">
                <a href="/user/payment"><img class=image4 src="/images/money-check-edit.png" alt=""></a>

            </div>
            <div class="icon7">
                <a href="/user/schedule"><img class=image7 src="/images/calendar.png" alt=""></a>

            </div>
            
            <div class="icon5">
                <a href="/user/account"><img class=image5 src="/images/user.png" alt=""></a>

            </div>
            <br>
            <div class="icon6">
                <a href="/user/help"><img class=image6 src="/images/interrogation (1).png"></a>

            </div>
            <br>
            
        </div>
