
body{
    background-color: rgb(63, 71, 78);
    height: 740px;
    margin: 0px;
}






/*navi bar*/


.menu{
    background-color:rgb(63, 71, 78);
    height: 740px;
}

.nav{
    width: 50px;
    height: 740px;
    background-color: white;
    position: fixed;
}
.image1{
    width: 30px;
    margin-left: 9px;
    margin-top: 50px;
    position: fixed;
}
.image2{
    width: 30px;
    margin-left: 9px;
    margin-top: 200px;
    position: fixed;
}

.image3{
    width: 30px;
    margin-left: 9px;
    margin-top: 250px;
    position: fixed;
}

.image4{
    width: 30px;
    margin-left: 9px;
    margin-top: 300px;
    position: fixed;
}
.image7{
    width: 30px;
    margin-left: 9px;
    margin-top: 350px;
    position: fixed;
}
.image5{
    width: 30px;
    margin-left: 9px;
    margin-top: 450px;
    position: fixed;
}

.image6{
    width: 30px;
    margin-left: 9px;
    margin-top: 500px;
    position: fixed;
}

/* level1 info */

.title{
    position: relative;
    background-color: #6d686861;
    width: 1270px;
    height: 50px;
    font-size: 25px;
    left: 150px;
    color: #f2eaea;
    top: -700px;
}

.title1{
    position: relative;
    left: 10px;
    text-align: left;
    top:9px;

}
.title1-1{
    position: relative;
    left: 10px;
    text-align: right;
    left:830px;
    top:9px; 

}

/* station1 info*/
.station-1{
    position: relative;
    background-color: #6d686861;
    width: 79rem;
    height: 18rem;
    left: 150px;
    color: #f2eaea;
    top: -650px;


}

.station-1:hover {
    background-color: rgb(0 19 27);
}
.rating{
    position: relative;
    width: 196px;
    height: 40px;
    top: -19rem;
    left: 40rem;
    background-color: #6d686861;
}
.rating1{
    position: relative;
    font-size: 27px;
    top: 7px;
    left: 10px;
    color: white;
    text-align: left;
}

.rating2{
    position: relative;
    font-size: 23px;
    top: 7px;
    left: 40px;
    color: white;
    text-align: right;
    
}

.details{
    position: relative;
    width: 39rem;
    height: 16.5rem;
    top: -16rem;
    left: 28rem;
    background-color: #6d686861;
}

.name1{
    position: relative;
    font-size: 46px;
    color: white;
    left: 5px;
    top: 5px;
}

.address-block{
    position: relative;
    width: 39rem;
    height: 8rem;
    top: 1rem;
    font-size: 25px;
}
.address{
    position: relative;
    left: 5px;
}

.slots{
    position: relative;
    width: 155px;
    top: -12rem;
    left: 40rem;
    height: 100px;
    border: solid;
}

.price{
    position: relative;
    width: 156px;
    height: 103px;
    left: 40rem;
    top: -181px;
    border: solid;

}
.slots-title{
    position: relative;
    font-size: 24px;
    left: 17px;
    top: 5px;
}


.slots-avaliable{
    position: relative;
    font-size: 42px;
    top: 2px;
    left: 62px;

}















/* station2 info*/
.station-2{
    position: relative;
    background-color: #6d686861;
    width: 400px;
    height: 250px;
    left: 585px;
    color: #f2eaea;
    top: -900px;

}


.station-3{
    position: relative;
    background-color: #6d686861;
    width: 400px;
    height: 250px;
    left: 1020px;
    color: #f2eaea;
    top: -1150px;
}
.station-4{
    position: relative;
    background-color: #6d686861;
    width: 400px;
    height: 250px;
    left: 150px;
    color: #f2eaea;
    top: -1110px;
}
.station-5{
    position: relative;
    background-color: #6d686861;
    width: 400px;
    height: 250px;
    left: 580px;
    color: #f2eaea;
    top: -1360px;
}

.image11{
    position: relative;
    
    width: 26rem;
    height: 17rem;

}
.image-sec{
    position: relative;
    top: 10px;
    left: 10px;
    width: 26rem;
    height: 17rem;

    background-color: white;

}



