<div class="nav">
    <div class="icon1">
        <a href="/logout"><img class=image1 src="/images/house-blank.png" alt=""></a>

    </div>
    <br>
    <div class="icon2">
        <a href="/owner/dashboard"><img class=image2 src="/images/dashboard.png" alt=""></a>


    </div>
    <br>
    <div class="icon4">
        <a href="/owner/slotpricing"><img class=image4 src="/images/money-check-edit.png" alt=""></a>

    </div>
    
    
    <div class="icon5">
        <a href="/owner/account"><img class=image5 src="/images/user.png" alt=""></a>

    </div>
    <br>
    <div class="icon6">
        <a href="/owner/help"><img class=image6 src="/images/interrogation (1).png"></a>

    </div>
</div>